// SECTION :: START

section#details-description.details-description
	.c-grid
		.details-description__wrapper

			p.details-description__title.c-title.c-title--dark(data-aos="fade-up") Email Marketing

			.details-description__content(data-aos="fade-up")

				p.details-description__desc Executing a strong email marketing strategy will keep your audience engaged and up to date with current or trending business information. Demonstrating a unique personal connection, email marketing can increase sales and generate loyalty. Promotions, event information, customer follow-ups, and more are all part of a well-planned email marketing strategy.

			p.details-description__title.c-title.c-title--dark(data-aos="fade-up") Media Relations

			.details-description__content(data-aos="fade-up")

				p.details-description__desc Our team of public relations experts can organize, facilitate, and connect your brand with important media outlets giving your brand the opportunity to communicate your message to the largest audience possible.

			p.details-description__title.c-title.c-title--dark(data-aos="fade-up")!= "Press Releases + <br>Media Kits"

			.details-description__content(data-aos="fade-up")

				p.details-description__desc You’ve got an announcement to make and people need to hear about it. A well designed press release can go a long way. Published in the press and capturing media attention a press release presents the most important details about your new announcement in a tightly controlled medium. A media kit containing prepared images assists these outlets, making your story more enticing than others.

			p.details-description__title.c-title.c-title--dark(data-aos="fade-up")!= "Strategic <br>Partnerships"

			.details-description__content(data-aos="fade-up")

				p.details-description__desc You don’t have to do it alone. Some of the most successful campaigns in history are built through strategic partnerships. Finding and connecting with the perfect fit can be a difficult task, but we make it easy. Our years of networking have created strong relationships with some of the country’s top brands. Your next strategic partnership is just a phone call away.

			p.details-description__title.c-title.c-title--dark(data-aos="fade-up")!= "Spokesperson <br>Services"

			.details-description__content(data-aos="fade-up")

				p.details-description__desc Sometimes creative copy isn’t enough and you have to put a face to the brand. When spokesperson services are required, we dive deep into our growing list of experienced public representatives to provide you with the best brand fit possible. Whether they are speaking publicly at a press announcement or media appearance, or being featured in advertisements, we can match you with the perfect fit.

			p.details-description__title.c-title.c-title--dark(data-aos="fade-up")!= "Media Launch <br>Events"

			.details-description__content(data-aos="fade-up")

				p.details-description__desc Hosting a launch event for your latest consumer product? We can build a comprehensive media guestlist to attend your event. Get the media coverage your well planned event deserves and guarantee you make the biggest splash possible.

			p.details-description__title.c-title.c-title--dark(data-aos="fade-up")!= "Crisis <br>Communications"

			.details-description__content(data-aos="fade-up")

				p.details-description__desc Things don’t always go as planned. When s*!# hits the fan you need to know you have a team in your corner that is prepared and experienced to respond to emergencies under pressure. Preparation is key, having processes and safeguards in place to alert you when a potential crisis is on the horizon can often stop any emergency before it become a problem. We can put this structure into place and manage messaging when times are tough.

			p.details-description__title.c-title.c-title--dark(data-aos="fade-up")!= "Communications <br>Audit"

			.details-description__content(data-aos="fade-up")

				p.details-description__desc Do you already have a communications plan in place? Our team of experts can take a look under the hood and determine if your system requires any updates. Just like the most experience computer technicians, we can easily identify problems and offer easy solutions. The change may be small, but the difference will be big.

			p.details-description__title.c-title.c-title--dark(data-aos="fade-up")!= "Influencer <br>Engagement"

			.details-description__content(data-aos="fade-up")

				p.details-description__desc Influencers are the latest and hottest marketing trend on the market. Influencers allow brands to reach dedicated and often hyper niche communities providing incredible returns on investment. Our partnerships with some of the largest influencer agencies in North America makes building influencer relationships easy. It could be an Instagram post, a branded YouTube video, or sponsored post, the options are endless.

// SECTION :: END
