// SECTION :: START

section#details-description.details-description
	.c-grid
		.details-description__wrapper

			p.details-description__title.c-title.c-title--dark!= "Social Media <br>Strategy"

			.details-description__content

				p.details-description__desc Our social media strategies align with your vision and create measureable goals and objectives and work within your timeline, budget and scope. We collaborate with companies and brands of all sizes, dive deep into your messaging and data, and deliver results

			p.details-description__title.c-title.c-title--dark!= "Influencer <br>Outreach"

			.details-description__content

				p.details-description__desc Our vast influencer marketing network will help you grow your follower base, drive awareness and lead to conversion. We talk to the right influencers for you and manage the process to make it seamless and easy for you.

			p.details-description__title.c-title.c-title--dark!= "Social Media Paid <br>Advertising <br>Management"

			.details-description__content

				p.details-description__desc We understand the algorithms, the media buying process and manage all creative development, messaging, targeting parameters and data so that your brand is a making an impact and your bottom line stays healthy.

			p.details-description__title.c-title.c-title--dark!= "Social Media <br>Content Creation"

			.details-description__content

				p.details-description__desc Content can make or break a new or successful brand. We work closely with you to understand your brand and content ecosystem, create a unique voice and message that is easily shared and engaged with and develop a calendar to govern how, when, why and what. Our content creators are expert writers, designers, photographers, videographers and storytellers.

			p.details-description__title.c-title.c-title--dark!= "Social Media Contest <br>Management"

			.details-description__content

				p.details-description__desc Social media contesting is a popular method to improve user engagement, generate new content and speak with your audience directly. We design, develop and execute your contests to keep your clients happy and find new ones.

			p.details-description__title.c-title.c-title--dark!= "Facebook <br>Advertising"

			.details-description__content

				p.details-description__desc Facebook advertising is one of our specialties. We define and refine your messaging, develop specific targeting parameters and deliver your message to the right audience.

			p.details-description__title.c-title.c-title--dark!= "Instagram <br>Advertising"

			.details-description__content

				p.details-description__desc Our team of content creators know exactly what works and what doesn’t and apply this knowledge to advertise on Instagram so your following grows along with your business.

			p.details-description__title.c-title.c-title--dark!= "Community <br>Management"

			.details-description__content

				p.details-description__desc Engaging a social media community is vital to the success of your online marketing. We create your social media content calendars, understand user sentiment, find your audience and listen to them and analyze your data to improve your social presence.

			p.details-description__title.c-title.c-title--dark!= "Training & <br>Consulting"

			.details-description__content

				p.details-description__desc Social media habits are changing daily and so are the unique requirements by brands and business. As avid social media trainers and consultants, we never turn down an opportunity to get involved and show you the ropes. Ask us about our social media sales training course.

			p.details-description__title.c-title.c-title--dark!= "Reputation <br>Management"

			.details-description__content

				p.details-description__desc We know social media reviews and understand the importance of a strong brand and good reputation. Our tools, software and experience allow us to keep you glowing while you keep growing.

			p.details-description__title.c-title.c-title--dark!= "Platform <br>Management"

			.details-description__content

				p.details-description__desc From reputation management to profile optimization, day to day management of your social platforms guarantees you’re getting the most out of your online identity. Leave the posting and replying to us.

			p.details-description__title.c-title.c-title--dark!= "Content Calendars"

			.details-description__content

				p.details-description__desc From reputation management to profile optimization, day to day management of your social platforms guarantees you’re getting the most out of your online identity. Leave the posting and replying to us.

			p.details-description__title.c-title.c-title--dark!= "Pay Per Click (PPC) <br>Advertising"

			.details-description__content

				p.details-description__desc Looking to drive more traffic to your website? Pay Per Click advertising (PPC) is a powerful tool to harness. Available on nearly all social platform PPC advertising drives inexpensive traffic to a destination of your choice. Promote a new product, advertise a limited time discount, or drive ticket sales. PPC does it all.

			p.details-description__title.c-title.c-title--dark Google Ads

			.details-description__content

				p.details-description__desc Google Ads sets itself apart from other platforms by targeting audiences that are actively searching for keywords related to your business. We set-up, manage and continually optimize the performance of Google Ads for businesses while minimizing cost and sales effort.

			p.details-description__title.c-title.c-title--dark Remarketing

			.details-description__content

				p.details-description__desc Make sure consumers see your brand as much as possible by utilizing the powerful remarketing tools available to social advertisers. Set frequency, craft custom messages, and watch as consumers travel further down your conversion path.

			p.details-description__title.c-title.c-title--dark Contesting

			.details-description__content

				p.details-description__desc Dedicated and casual audiences alike enjoy a good contest. With the right strategy in place a simple giveaway can drive considerable traffic to your social profiles. With our internal tools we are able to craft and execute on a variety of contesting objectives.

			p.details-description__title.c-title.c-title--dark!= "Competitive <br>Analysis"

			.details-description__content

				p.details-description__desc Dedicated and casual audiences alike enjoy a good contest. With the right strategy in place a simple giveaway can drive considerable traffic to your social profiles. With our internal tools we are able to craft and execute on a variety of contesting objectives.

			p.details-description__title.c-title.c-title--dark Page Growth

			.details-description__content

				p.details-description__desc Looking for more followers? Organic posting and reach not getting you far enough? By targeting specific audiences with paid promotions we can drive consistent page growth and an affordable rate.

			p.details-description__title.c-title.c-title--dark Lead Generation

			.details-description__content

				p.details-description__desc Target and acquire new leads with powerful on-platform lead generation campaigns executed on Facebook and Instagram. Build your newsletter database, or gather phone numbers for a more direct approach.

			p.details-description__title.c-title.c-title--dark Reporting

			.details-description__content

				p.details-description__desc You can’t move forward without first examining the past. Our team is dedicated to the production of customized reports which highlight the success and shortcomings if each campaign. By identifying these shortcomings, we are better positioned to improve during the next campaign cycle.

// SECTION :: END
