// SECTION :: START

section#menu.menu

	.menu__btn-wrapper
		a.menu__btn.menu__btn-1(href="#")
			.menu__btn-bg
			p.menu__btn-title
				i.menu__btn-num 01
				span!= "Brand<br>Marketing"
		a.menu__btn.menu__btn-2(href="#")
			.menu__btn-bg
			p.menu__btn-title
				i.menu__btn-num 02
				span!= "Website Design<br>& Development"
		a.menu__btn.menu__btn-3(href="#")
			.menu__btn-bg
			p.menu__btn-title
				i.menu__btn-num 03
				span!= "Creative, Graphic Design<br>& Communication"
		a.menu__btn.menu__btn-4(href="#")
			.menu__btn-bg
			p.menu__btn-title
				i.menu__btn-num 04
				span!= "Social Media<br>& Online Ads Management"
		a.menu__btn.menu__btn-5(href="#")
			.menu__btn-bg
			p.menu__btn-title
				i.menu__btn-num 05
				span!= "Marketing<br>Strategy"
		a.menu__btn.menu__btn-6(href="#")
			.menu__btn-bg
			p.menu__btn-title
				i.menu__btn-num 06
				span!= "Content Marketing<br>& Public Relations"
		a.menu__btn.menu__btn-7(href="#")
			.menu__btn-bg
			p.menu__btn-title
				i.menu__btn-num 07
				span!= "Mobile Application<br>Development"
		a.menu__btn.menu__btn-8(href="#")
			.menu__btn-bg
			p.menu__btn-title
				i.menu__btn-num 08
				span!= "Video<br>Production"


// SECTION :: END
