// SECTION :: START

section#request.request
	.c-grid
		.request__wrapper
			.request__wrapper-left

				p.request__title.c-title(data-aos="fade-up")!= "Request<br>Free Consultation"
				p.request__subtitle.request__subtitle-1(data-aos="fade-up" data-aos-delay='100')!= "You’ve come a long way,<br>let us take it from here."

				p.request__desc.request__desc-1(data-aos="fade-up") Our flexibility, creativity, and proactive approach will allow you to grow current markets, enter new markets, and execute on a well-developed strategy. We love it when a good plan comes together.
				p.request__desc.request__desc-2(data-aos="fade-up") With offices in Toronto and San Diego, we’re up for any challenge. Let’s start talking about how we can help you achieve your goals.

				p.request__subtitle.request__subtitle-2(data-aos="fade-up")!= "Call Us"

				p.request__desc.request__desc-3(data-aos="fade-up") You should phone us if you like speaking to people that know their stuff and get excited about discovering new possibilities.

				a.request__tel(data-aos="fade-up")(href="tel:416 729 1154") 416 729 1154

			.request__wrapper-right

				form.request__box(action='' method='' autocomplete='off' data-aos="fade-up" data-aos-delay='150')
					p.request__box-title.request__box-title-1 Hi, my name is Ava.
					p.request__box-desc Tell me a bit about your goals, and I’ll make sure that your request gets to the right person.
					p.request__box-title.request__box-title-2 What kind of help are you looking for your business or brand?

					.request__box-checkbox

						.c-checkbox
							input.c-checkbox__input(type='checkbox' name='' id='brand-marketing' checked)
							label.c-checkbox__label(for='brand-marketing')
								i
									+iconSVG('checkmark')
								span!= "Brand Marketing"
						.c-checkbox
							input.c-checkbox__input(type='checkbox' name='' id='social-media')
							label.c-checkbox__label(for='social-media')
								i
									+iconSVG('checkmark')
								span!= "Social Media & Online Ads Management"
						.c-checkbox
							input.c-checkbox__input(type='checkbox' name='' id='website-design' checked)
							label.c-checkbox__label(for='website-design')
								i
									+iconSVG('checkmark')
								span!= "Website Design & Development"
						.c-checkbox
							input.c-checkbox__input(type='checkbox' name='' id='mobile-app')
							label.c-checkbox__label(for='mobile-app')
								i
									+iconSVG('checkmark')
								span!= "Mobile Application Development"
						.c-checkbox
							input.c-checkbox__input(type='checkbox' name='' id='content-marketing')
							label.c-checkbox__label(for='content-marketing')
								i
									+iconSVG('checkmark')
								span!= "Content Marketing & Public Relations"
						.c-checkbox
							input.c-checkbox__input(type='checkbox' name='' id='graphic-design')
							label.c-checkbox__label(for='graphic-design')
								i
									+iconSVG('checkmark')
								span!= "Creative, Graphic Design & Communication"
						.c-checkbox
							input.c-checkbox__input(type='checkbox' name='' id='marketing-strategy')
							label.c-checkbox__label(for='marketing-strategy')
								i
									+iconSVG('checkmark')
								span!= "Marketing Strategy"
						.c-checkbox
							input.c-checkbox__input(type='checkbox' name='' id='video-production')
							label.c-checkbox__label(for='video-production')
								i
									+iconSVG('checkmark')
								span!= "Video Production"

					button.request__box-btn(type='submit')
						span REQUEST FREE CONSULTATION
						+iconSVG('arrow-right')

// SECTION :: END
