// SECTION :: START

section#roadmap.roadmap
	.c-grid

		p.roadmap__label.c-label.c-label--dark(data-aos="fade-up")
			span.c-label__line
			span About company

		.roadmap__wrapper

			p.roadmap__title.c-title.c-title--dark(data-aos="fade-up") Roadmap for success
			p.roadmap__desc(data-aos="fade-up") This is our tried and true process that ensures we’re in alignment with the goals of each project. We don’t just make things pretty, we make them work while remaining on target.

			img.roadmap__img.lazy(
				src="img/img-roadmap.svg"
				data-src="img/img-roadmap.svg"
				alt="" data-aos="fade-up")

		.roadmap__box-wrapper
			div(data-aos="fade-up")
				.roadmap__box
					.roadmap__box-head
						p.roadmap__box-title!= "<span>1.</span> Discover"
					.roadmap__box-body
						p.roadmap__box-desc The first part or our process is about learning all about your industry.
			div(data-aos="fade-up" data-aos-delay='50')
				.roadmap__box
					.roadmap__box-head
						p.roadmap__box-title!= "<span>2.</span> Strategy"
					.roadmap__box-body
						p.roadmap__box-desc Next, we determine the best way to strategically meet the design goals of your brand.
			div(data-aos="fade-up" data-aos-delay='100')
				.roadmap__box
					.roadmap__box-head
						p.roadmap__box-title!= "<span>3.</span> Design"
					.roadmap__box-body
						p.roadmap__box-desc The design phase is where we build out the usage guidelines, user experience, and prototype the product.
			div(data-aos="fade-up" data-aos-delay='150')
				.roadmap__box
					.roadmap__box-head
						p.roadmap__box-title!= "<span>4.</span> Build"
					.roadmap__box-body
						p.roadmap__box-desc We’re connected with some pretty talented and creative devs, they’ll get the job done right.
			div(data-aos="fade-up" data-aos-delay='200')
				.roadmap__box
					.roadmap__box-head
						p.roadmap__box-title!= "<span>5.</span> Deliver"
					.roadmap__box-body
						p.roadmap__box-desc Finally, we package it all up and deliver the product to you. On time and on budget.

// SECTION :: END
